body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0px 100px;
}

body {
    background-color: #00b4d8 !important;
}

article a {
    text-decoration: none;
}

h1 {
    padding: 40px;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.showcase {
    text-align: center;
    text-transform: capitalize;
    font-weight: 500;
    font-style: oblique;
}

.header {
    justify-content: space-between;
    padding: 20px;
    border: 3px solid #000;
    height: 65px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #caf0f8;
}

.toggle {
    cursor: pointer;
    letter-spacing: 0.5em;
    padding: 40px;
    font-size: 1.5em;
}

.menu-box {
    width: 80%;
    background: white;
    position: absolute;
    top: 17%;
    left: 10%;
    padding: 50px 66px;
    transition: top 1s;
}

.right-links {
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    align-items: center;
}

.right-links img {
    width: 50px;
    margin-left: 20px;
    cursor: pointer;
}

.menu-links a {
    text-decoration: none;
    display: block;
    width: fit-content;
    margin: 30px 0;
    color: black;
}

.menu-links a::after {
    content: '';
    width: 40px;
    height: 5px;
    background: #f92537;
    display: none;
    margin-left: 10px;
    margin-bottom: 5px;
}

.menu-links a:hover {
    font-weight: 700;
}

.art-attack a {
    color: black;
    text-decoration: none;
}

.menu-links a:hover::after {
    display: inline-block;
}

.main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    border-radius: 50%;
    margin-right: 20px;
}

.profile h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    transition: transform 0.3s ease-in-out;
    margin: 20px 10px;
}

.grid-item {
    background-color: #f5ebe0;
    border-radius: 5px;
    overflow: hidden;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.grid-item:hover {
    transform: scale(1.05);
}

.grid-item img {
    max-width: 100%;
    height: auto;
}

.list-inline>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

li {
    display: list-item;
    list-style: none;
    color: black;
}

#searching {
    padding: 13px;
    margin-top: 0;
    border-radius: 1.5em;
    text-align: center;
    border: 3px solid #000;

}

.grid-item-content {
    display: flex;
    margin: 10px;
    background-color: ;
    text-decoration: none;
    color: #264653;
    font-family: 'Italiana', sans-serif;
}

.bm-subnav__links {
    margin: 0;
    font-size: .5625rem;
}

.list-inline {
    list-style: none;
    margin-left: -5px;
}

.bm-subnav {
    background-color: white;
    font-family: sans-serif;
    font-size: .5625em;
    font-weight: 600;
    letter-spacing: .125em;
    padding: 2rem 0 0;
    text-transform: uppercase;
    transform: scale(1.05);
    margin: 0;
}

header .container li {
    color: black;
}

footer {
    color: black;
    text-align: center;
    padding: 0 10px;
    bottom: 0;
    width: 100%;
    /* background-color: #caf0f8; */
}

/* .global-footer bm-subnav bm-subnav--global-footer {
    background-color: #050b0c;
} */